<%= form_with(model: user_address, local: true) do |form| %>
  <% if user_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_address.errors.count, "error") %> prohibited this user_address from being saved:</h2>

      <ul>
      <% user_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div> 

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile %>
  </div>

  <div class="field">
    <%= form.label :province %>
    <%= form.text_field :province %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.collection_select :user_id, User.all, :id, :nickname %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
