<p id="notice"><%= notice %></p>

<h1>banner_items</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banner_items.each do |banner_item| %>
      <tr>
        <td><%= banner_item.name %></td>
        <td><%= link_to 'Show', banner_banner_item_path(@banner, banner_item) %></td>
        <td><%= link_to 'Edit', edit_banner_banner_item_path(@banner, banner_item) %></td>
        <td><%= link_to 'Destroy', banner_banner_item_path(@banner, banner_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New banner_item', new_banner_banner_item_path(@banner) %>
