<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.id %>
</p>

<div>
  <%= image_tag @image.link.url %>
</div>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
